{{ $bgColor :=  .Site.Params.color | default "#FFB005" }}
<section class="w-full bg-[{{$bgColor}}] my-10 rounded-lg flex justify-between">
  <article class="px-10 py-5">
    <h4 class="text-white font-semibold">Wil je ook leren programmeren?</h4>
    <p class="text-white text-sm">Meld je aan door te klikken op de knop</p>
  </article>
  <button class="h-12 w-64 overflow-hidden rounded-full bg-white text-lg font-bold my-auto mr-10" onclick="location.href={{.Site.Params.aanmeldLink}}">
    Aanmelden
  </button>
</section>