{{ define "main" }}

<section class="container mx-auto mx-auto px-5 py-10">
  <section class="h-10">
  
  </section>
  <article class="my-10 space-y-3">
      <h2 class="text-4xl font-bold">Contact</h2>
      <p class="text-md">
          Als je vragen of opmerkingen hebt kun je deze altijd naar ons mailen. Stuur daarvoor een bericht naar
          <a href="mailto:{{.Site.Params.contactEmail}}">{{ .Site.Params.contactEmail }}</a>. Wij nemen dan z.s.m. contact met je op.
      </p>     
      
      <iframe width="425" height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=5.658831%2C51.479051%2C5.654276%2C51.477441&amp;layer=mapnik"
          style="border: 1px solid black"></iframe><br />
  </article>

{{ partial "aanmeldbanner.html" . }}

</section>
{{ end }}