{{ define "main" }}
  <section class="container mx-auto mx-auto px-5 py-10">
    <section class="h-10">
    
    </section>
    <article class="my-10 space-y-3">
        <h2 class="text-4xl font-bold">Over ons</h2>
        {{ $paragraphs := split (trim .RawContent "\n") "\n\n" }}
        {{ range $paragraphs }}
            <p class="text-md">{{ . | markdownify }}</p>
        {{ end }}
    </article>

    {{ if $.Site.Data.downloads }}
    <section class="my-10 space-y-3">
      <h3 class="text-2xl font-bold">Downloadbare bestanden</h3>
      <ul class="list-disc list-inside space-y-2">
        {{ range $.Site.Data.downloads.files }}
          <li>
            <a href="{{ .link }}" class="text-blue-600 hover:underline">
              {{ .name }}
            </a>
          </li>
        {{ end }}
      </ul>
    </section>
    {{ end }}

 {{ partial "aanmeldbanner.html" . }}

 </section>
{{ end }}