{{ define "main" }}
  <section class="container mx-auto mx-auto px-5 py-10">
    <section class="h-10">
    
    </section>
    <article class="my-10 space-y-3">
        <h2 class="text-4xl font-bold">Over ons</h2>
        <p class="text-md">
            Het doel van de stichting is het bevorderen en verbreden van de kennis, het talent en de vaardigheden van jongeren op
            het gebied van informatie- en communicatietechnologie.
        </p>     
        
        <p class="text-md">
            Dit bereiken we door het creëren van een veilige leeromgeving waarin kinderen van diverse afkomst en met verschillende
            vaardigheidsniveaus worden begeleid en gestimuleerd om aan de slag te gaan met programmeren. Door de kinderen zelf de
            invloed te geven op het leerproces, wordt hun nieuwsgierigheid geactiveerd en leren ze zowel van als met elkaar.
        </p>
  
        
        <p class="text-md">
            Op deze manier worden ze op zowel technisch als sociaal vlak gevormd en zullen ze zich bewust worden van de
            mogelijkheden van informatie technologie. Een gedeelte zal worden geprikkeld zich te ontwikkelen tot de effectieve
            programmeurs die nodig zijn in de toekomst.
        </p>
  
  
        <p class="text-md">
            Onze visie, samen met hoe we dit willen bereiken, is uitgewerkt in ons Beleidsplan.
            Onze baten en lasten 2021-2022: baten en lasten
        </p>
    </article>


 {{ partial "aanmeldbanner.html" . }}

 </section>
{{ end }}